body{
    margin: 0;
    padding: 0;
}

.main-us{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(purple, black);
    display: flex; 
}
.left-us{
    display: flex;
    justify-content: center;
    margin-right: 500px;
}
.right-us{
    margin-left: 400px;
    margin-top: 400px;
}
.left-us>img{
    margin-top: 180px;
}
.left-us  > h1{
    margin-left: 80px;
    color: aliceblue;
}
.card-us{
    margin-left: 400px;
    margin-top: 300px;
    width: 25vw;
    height: 50vh;
    color: azure;
    background-color: rgba(127, 255, 212, 0.34);
    padding: 20px;
}

